.header, .header_inner {
  position: relative;
  width: 100%;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #ffffff;
}

.header {
  background-image: url('../img/header_bg.png');
  background-color: #9B6909;
  border-bottom: 8px solid #FFA800;
}

.header_end {
  background-image: url('../img/header_bg_end.png');
  background-color: #292929;
  border-bottom: none;
}

.header_inner {
  background-image: url('../img/header_bg_inner.png');
  background-color: #928F94;
}

.header__logo-wrap {
  padding: 14px 0 8px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.header__logo {
  height: 54px;
}

.header__nav-wrap {
  padding: 25px 0;
  background: #292929;
}

.header__nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header__nav-item {
  margin-right: 64px;
  font-size: 24px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

/* Menu */
#menu-checkbox, .toggle-button, .header__logo_mobile {
  display: none;
}

@media (max-width: 767px) {
  .header__nav-wrap {
    padding: 15px 0;
  }
  nav.container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo_mobile {
    display: inline-block;
    height: 46px;
  }
  .header__logo-wrap, .header__nav {
    display: none;
  }
  .header__nav {
    position: absolute;
    top: 80px; 
    left: 0;
    right: 0;
    padding: 13px 0;
    text-align: center;
    background: rgba(41, 41, 41, 0.9);
  }
  .header__nav li {
    display: block;
    width: 100%;
  }
  .toggle-button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #fff;
  }
  .toggle-button:after {
    font-family: 'FontAwesome';
    content: "\f0c9";
    cursor: pointer;
    font-size: 26px;
    text-align: center;
  }
  #menu-checkbox:checked + nav .header__nav {
    display: block;
  }
  #menu-checkbox:checked + nav .toggle-button:after {
    content: "\f00d";
  }  
}
/* End Menu */

.header__row {
  display: flex;
  padding-top: 90px;
}

.header__row_end {
  padding-top: 170px;
}

.header__title, .header__form-wrap {
  flex-basis: 50%;
}

.header__title {
  margin-top: 60px;
  font-size: 34px;
}

.header__title_end {
  flex-basis: 100%;
  margin: 20px 0 140px;
}

.header__form-wrap {
  padding: 10px 21px 60px;
  background: rgba(41, 41, 41, 0.8);
}

.header__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__form-field-title {
  flex-basis: 100%;
  margin: 38px 0 16px;
  font-size: 24px;
  font-weight: 300;
}

.header__form-field-wrap {
  flex-basis: 47%;
  position: relative;
}

.header__form-field {
  width: 100%;
  height: 50px;
  padding: 13px 38px 11px 14px;
  box-sizing: border-box;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  color: #2D2B2F;
}

.header__form-field_hint {
  position: absolute;
  top: 38px;
  padding: 10px 0;
  width: 100%;
  background: #F5F4F6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: #292929;
  list-style-type: none;
  text-transform: uppercase;
  z-index: 3;
}

.header__form-field_hint li {
  padding: 5px 14px;
  cursor: pointer;
}

.header__form-field_hint li:hover {
  background: #dddddd;
}

.header .fa, .header_inner .fa {
  display: inherit;  
}

.header .fa:before, .header_inner .fa:before {
  position: absolute;
  top: 13px;
  right: 13px;
  color: #d4d4d4;
  font-size: 26px;
}

.header__form-button {
  flex-basis: 47%;
  height: 50px;
  margin-top: 78px;
  margin-left: auto;
  padding-top: 2px;
  background: #FFA800;
  border: 0;
  border-radius: 3px;
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  text-align: center;
  line-height: 47px;
  color: #292929;
  cursor: pointer;
  transition: 0.3s;
}

a.header__form-button {
  letter-spacing: 0.5px;
}

.header__form-button:hover {
  color: #292929;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.header__form-button:active {
  background: #E5E5E5;
  color: #FFA800;
  border: 1px solid #FFA800;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0s;
}

.header__form-wrap.header__form-wrap_inner {
  flex-basis: 100%;
}

.header__row.header__row_inner {
  padding-top: 78px;
}

.header__form-field-title.header__form-field-title_inner {
  flex-basis: 48.5%;
  margin-top: 30px;
}

.header__form-field-wrap.header__form-field-wrap_inner {
  flex-basis: 23%;
}

.header__form-button.header__form-button_inner {
  flex-basis: 23%;
  margin-top: 20px;
}

.form-round-arrows_inner {
  margin: 0 -24px;
}

@media (min-width: 1920px) {
  .header__nav-item {
    margin-right: 82px;
    font-size: 30px;
  }
  .header__logo {
    height: 100%;
  }
  .header__row {
    padding-top: 170px;
  }
  .header__title {
    font-size: 38px;
  }
  .header__form-field-title {
    font-size: 30px;
  }
  .header__form-field, .header__form-button {
    height: 60px;
  }
}

@media (min-width: 992px) and (max-width: 1367px) {
  .header__nav-item {
    margin-right: 60px;
    font-size: 22px;
  }
  .header__nav-wrap {
    padding: 20px 0;
  }
  .header__row.header__row_inner {
    padding-top: 64px;
  }
}

@media (max-width: 991px) {
  .header__row {
    flex-wrap: wrap;
    padding-top: 0;
  }
  .header__title, .header__form-wrap {
    flex-basis: 100%;
  }
  .header__title {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 576px) and (max-width: 767px) {
  .header__title {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .header__title {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .form-round-arrows {
    display: none;
  }
  .header__form-button {
    flex-basis: 100%;
  }
}
