.reviews__slider {
  text-align: center;
  margin: 60px auto 0;
}

.reviews__slider-input {
  display: none;
}

#reviews__slides-container {
  width: 100%;
  overflow: hidden;
}

.reviews__slider label, .reviews__slider a {
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
}

.reviews__slider label:hover, .reviews__slider a:hover {
  color: #ddd !important;
}

.reviews__slider label,#active,img {
  -moz-user-select: none;
  -webkit-user-select: none;
}

#reviews__slides {
  min-height: 300px;
}

.reviews__items-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.reviews__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.reviews__item-img {
  flex-basis: 35%;
  font-size: 0;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__item-img img {
  width: 100%;
}

.reviews__item-content {
  flex-basis: 65%;
  padding: 0 30px;
  text-align: left;
}

.reviews__item-title {
  margin: 0 0 15px;
  font-size: 24px;
}

.reviews__item-text {
  color: #928F94;
  line-height: 1.4;
  font-style: italic;
}

.reviews__item-text_quote {
  margin-right: 3px;
  font-size: 36px;
  line-height: 0;
  vertical-align: text-bottom;
}

#slide1:checked ~ #reviews__slides .inner{margin-left:0}
#slide2:checked ~ #reviews__slides .inner{margin-left:-100%}
#slide3:checked ~ #reviews__slides .inner{margin-left:-200%}
#slide4:checked ~ #reviews__slides .inner{margin-left:-300%}
#slide5:checked ~ #reviews__slides .inner{margin-left:-400%}

#reviews__slides .inner {
  width: 500%;
}
#reviews__slides article {
  width: 20%;
  float: left;
}
#commands {
  margin: -19% 0px 0 -7%;
  width: 114%;
  height: 50px;
}
#commands label {
  display:none;
  width:80px;
  height:80px;
  opacity:0.5
}
#commands label:hover {
  opacity:0.8;
}

#active{position:relative;z-index:5;margin:10% 0 0;text-align:center}
#active label{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:10px;display:inline-block;width:15px;height:15px;background:#bbb;margin: 0 2px;}
#active label:hover{background:#333;border-color:#777!important}
#slide1:checked ~ #commands label:nth-child(2),#slide2:checked ~ #commands label:nth-child(3),#slide3:checked ~ #commands label:nth-child(4),#slide4:checked ~ #commands label:nth-child(5),#slide5:checked ~ #commands label:nth-child(1){background:url('https://0.s3.envato.com/files/84450220/img/next.png') no-repeat;float:right;margin:0 12px 0 0;display:block}
#slide1:checked ~ #commands label:nth-child(5),#slide2:checked ~ #commands label:nth-child(1),#slide3:checked ~ #commands label:nth-child(2),#slide4:checked ~ #commands label:nth-child(3),#slide5:checked ~ #commands label:nth-child(4){background:url('https://0.s3.envato.com/files/84450220/img/previous.png') no-repeat;float:left;margin:0 0 0 -6px;display:block}
#slide1:checked ~ #active label:nth-child(1),#slide2:checked ~ #active label:nth-child(2),#slide3:checked ~ #active label:nth-child(3),#slide4:checked ~ #active label:nth-child(4),#slide5:checked ~ #active label:nth-child(5){background:#292929;opacity:0.6;}

#reviews__slides .inner{-webkit-transform:translateZ(0);-webkit-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-o-transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);-webkit-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-moz-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-ms-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);-o-transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000);transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
.reviews__slider{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
#commands label{-webkit-transform:translateZ(0);-webkit-transition:opacity 0.2s ease-out;-moz-transition:opacity 0.2s ease-out;-o-transition:opacity 0.2s ease-out;transition:opacity 0.2s ease-out}
#slide1:checked ~ #reviews__slides article:nth-child(1) .caption,#slide2:checked ~ #reviews__slides article:nth-child(2) .caption,#slide3:checked ~ #reviews__slides article:nth-child(3) .caption,#slide4:checked ~ #reviews__slides article:nth-child(4) .caption,#slide5:checked ~ #reviews__slides article:nth-child(5) .caption{opacity:1;-webkit-transition:all 1s ease-out 0.6s;-moz-transition:all 1s ease-out 0.6s;-o-transition:all 1s ease-out 0.6s;transition:all 1s ease-out 0.6s}
#commands,#commands label,#reviews__slides,#active,#active label{-webkit-transform:translateZ(0);-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}

@media (max-width: 1320px) {
  #reviews__slides {
    max-width: 94%;
    margin: 0 auto;
  }  
  #commands {
    margin:-19% 0px 0 -4%;
    width:105%;
  }
}

@media (max-width: 992px) {
  .reviews__items-row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__item {
    flex-basis: 92%;
    margin: 0 0 20px 15px;
  }
  #commands {
    margin:-26% 0px 0 0;
    width: 100%;
  }
  #active {
    margin: 21% 0 0;
  }
  .reviews__item-img {
    flex-basis: 20%;
  }
  .reviews__item-content {
    flex-basis: 80%;
  }
}

@media (max-width: 767px) {
  .reviews__slider #commands {
    margin:-40% 0px 0 0;
    width: 100%;
  }
  .reviews__slider #active {
    margin: 30% 0 0;
  }
}

@media (max-width: 520px) {
  .reviews__slider #commands {
    display: none;
  }
  .reviews__slider #active {
    margin: 0 0 0;
  }
  .reviews__item-text {
    font-size: 14px;
  }
}
