@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover, a:active {
  color: #FFA800;
}

a:hover {
  transition: 0.3s;
}

h2 {
  margin-top: 0;
  font-size: 36px;
  text-transform: uppercase;
  color: #292929;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.thin-text {
  font-weight: 300;
}

input::placeholder {
  color: #d4d4d4;
}

.calendar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 15px;
  background: #ffffff;
  color: #292929;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.calendar__header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 5px 5px;
  border-bottom: 1px solid #cacaca;
}

.calendar__header-month {
  margin: 0;
  font-size: 26px;
}

.header .calendar__header .fa:before, .header_inner .calendar__header .fa:before  {
  position: relative;
  top: 9px;
  right: 0;
  color: #292929;
  font-size: 18px;
  cursor: pointer;
}

.calendar__days-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px 0 0;
  list-style-type: none;
}

.calendar__day {
  min-width: 29px;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.calendar__day:hover {
  padding: 3px;
  background: rgba(255, 168, 0, 0.31);
  border: 2px solid #FFA800;
  border-radius: 5px;
}

.calendar__day_inactive {
  color: #cacaca;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.pagination {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.pagination__arrow, .pagination__page {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  color: #928F94;
  cursor: pointer;
  transition: 0.3s;
}

.pagination__arrow {
  font-size: 27px;
}

.pagination__page {
  font-size: 20px;
}

.pagination__arrow:hover, .pagination__page:hover {
  color: #FFA800;
  border: 2px solid #FFA800;
  transition: 0.3s;
}

.pagination__page_active {
  background: #FFA800;
  border: 2px solid #FFA800;
  color: #ffffff;
}

.pagination__page_active:hover {
  color: #ffffff;
  cursor: default;
}

.pagination__arrow_right {
  margin-right: 0;
}

/* ----- CUSTOM CHECKBOX STYLES -----*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 33px;
  padding-top: 1px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 1px solid #928F94;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

.yellow-checkbox:checked + label:before {
  border: 1px solid #FFA800;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #292929;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

.yellow-checkbox:not(:checked) + label:after,
.yellow-checkbox:checked + label:after, .yellow-checkbox:checked + label {
  color: #FFA800;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}

/* ----- END CUSTOM CHECKBOX STYLES -----*/

@media (min-width: 1920px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}