.price-range {
  margin: 0 10px;
}

.time-range {
  margin: 10px;
}

.input-range__slider {
  appearance: none;
  background: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 25px;
  margin-left: -12px;
  margin-top: 0;
  outline: none;
  position: absolute;
  top: -23px;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 25px;
}

.time-range .input-range__slider {
  height: 18px;
  width: 18px;
  top: -15px;
}

.input-range__slider:active {
  transform: scale(1.1);
}

.input-range__slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  color: #e5e5e5;
  font-size: 16px;
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -1.4rem;
  position: absolute;
  opacity: 0;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: 6px;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  height: 19px;
  position: relative;
  top: -1px;
  transition: left 0.3s ease-out, width 0.3s ease-out;
  border: 1px solid #C4C4C4;
}

.time-range .input-range__track {
  height: 10px;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: #FFA800;
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}